<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.0" targetFramework="net45" />
  <package id="Common.Logging.NLog40" version="3.3.0" targetFramework="net45" />
  <package id="FluentAssertions" version="4.0.1" targetFramework="net45" />
  <package id="Humanizer" version="1.37.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NLog" version="4.2.0" targetFramework="net45" />
  <package id="NLog.Schema" version="4.0.0" targetFramework="net45" />
  <package id="NUnit" version="3.2.1" targetFramework="net45" />
  <package id="Remotion.Linq" version="2.1.1" targetFramework="net45" />
  <package id="System.Collections" version="4.0.11" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net45" />
  <package id="System.Linq" version="4.1.0" targetFramework="net45" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net45" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net45" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net45" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net45" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net45" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net45" />
  <package id="System.Threading" version="4.0.11" targetFramework="net45" />
  <package id="Z.ExtensionMethods.WithOneNamespace" version="2.0.10" targetFramework="net45" />
</packages>