<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
    <appSettings>
        <!--<add key="TestServer" value="192.168.0.11"/>-->
        <add key="TestServer" value="127.0.0.1"/>
        <add key="TestPort" value="28015"/>
    </appSettings>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog40">
          <arg key="configType" value="FILE"/>
          <arg key="configFile" value="~/NLog.config"/>
      </factoryAdapter>
    </logging>
  </common>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
